<html>
    <head>
        <title>
            HOMEPAGE
        </title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <a href="/login"><h1>Go to Login Page</h1></a>
    </body>
</html>