<html>
    <head>
        <title>
            Sign Up
        </title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="loginbox">
            <img src="images/person.png" class="avatar">
                <h1>
                    Sign Up Here
                </h1>
                <form action="" method="POST" enctype="application/x-www-form-urlencoded">
                    <p>Username</p>
                    <input type="text" name="usernameSign" placeholder="Enter Username">
                    <p>Password</p>
                    <input type="password" name="passwordSign" placeholder="Enter Password">
                    <input type="submit" name="" value="Sign Up"><br>
                </form>
        </div>
    </body>
</html>